:root {
    --softred: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --cyan: hsl(167, 40%, 24%);
    --blue: hsl(198, 62%, 26%);
    --darkcyan: hsl(168, 34%, 41%);
    --verydarkblue: hsl(212, 27%, 19%);
    --darkdesaturatedblue: hsl(212, 27%, 19%);
    --verydarkgrayblue: hsl(213, 9%, 39%);
    --darkgrayblue: hsl(232, 10%, 55%);
    --grayblue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
  }

  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    background-color: var(--white);
    margin: 0;
  }



  nav {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    max-width: 100%;
    margin: auto;
    padding: 30px;
  }

  nav img {
    align-self: center;
  }

  nav ul {
    display: block;
    list-style-type: none;
  }

  nav ul li {
    display: inline-block;
    margin: 0 25px;
  }

  nav ul li a {
    color: var(--white);
    font-size: 16px;
  }

  header {
    height: 100vh;
    width: 100vw; 
    max-width: 100%;
    background-size: cover;
    background-image: url(./images/mobile/image-header.jpg);
    background-position: 50% 100%;    
  }

  @media(min-width: 992px) {
    header {
      background-image: url(./images/desktop/image-header.jpg);
    }
  }

  /* TYPOGRAPHY */


  h1, h2, h3, .cta, .name {
    font-family: 'Fraunces', serif;
  }


  h1 {
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    letter-spacing: 10px;
    margin-top: 40px;
    margin-bottom: 70px;
    font-size: 45px;
    padding: 20px;
  }

  h2 {
    font-size: 40px;
    margin: 0 0 20px;
    color: var(--darkdesaturatedblue);
  }

  h2 + p {
    margin-top: 10px;
  }

  p {
    margin-bottom: 30px; 
    color: var(--darkgrayblue);
    line-height: 1.5;
  }

  a {
    text-decoration: none;
  }

  a.cta {
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--darkdesaturatedblue);
    padding: 5px;
    position: relative;
    z-index: 1;
  }

  a.cta::after {
    content: '';
    display: block;
    position: relative;
    bottom: 7.5px;
    left: -5px;
    right: -5px;
    height: 11.5px;
    border-radius: 5px;
    width: calc(100% + 10px);
    opacity: 0.25;
    transition: opacity ease-in-out 0.25s;
    z-index: -1;
  }
  a.cta:hover::after {
    opacity: 0.9;
  }

  a.cta.yellow::after {
    background: var(--yellow);

  }

  a.cta.pink::after {
    background: var(--softred);

  }

  /* END TYPOGRAPHY */

  /* SQUARE SECTION */

  img.arrow-down {
    display: block;
    margin: auto;
  }

  .row {
    display: flex;
    flex-direction: column;
  }
  
  .square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;    
    width: 100%;
    height: auto;
    max-height: 75vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; 
    aspect-ratio: 1 / 1 ;
  }

  @media(min-width: 500px) {
    .square { padding: 40px; }
  }

  @media(min-width: 768px) {
    .square { padding: 60px; }
  }

  .wrap {
    width: 450px;
    max-width: 100%;
    margin: auto;
  }

  .square#transform {
    order: 2;
  }
  .square.pink {
    background-image: url(./images/mobile/image-stand-out.jpg);
  }    
  .square.yellow {
    order: 1; 
    background-image: url(./images/mobile/image-transform.jpg);
  }
  .square.tall {
    justify-content: flex-end;
    align-items: center;
    min-height: 600px;
  }

  .square.tall .wrap {
    width: 410px;
    margin-top: 100px;
    margin-bottom: 0;
  }
  .square.tall.green .wrap,
  .square.tall.blue .wrap {
    width: 340px;
  }

  .square.tall .wrap h2 {
    margin-top: 60px;
  }

  .square.tall .wrap p {
    margin-bottom: 0;
  }
  .square.tall .wrap h2, 
  .square.tall .wrap p {
    text-align: center;
  }
  .square.green {
    background-image: url(./images/mobile/image-graphic-design.jpg);
  }    
  .square.blue {
    background-image: url(./images/mobile/image-photography.jpg);
  }  

  .square.green h2,
  .square.blue h2 {
    margin-top: 10px;
    font-size: 25px;
    text-transform: capitalize;
  }

  .square.green h2 {
    color: var(--cyan);
  }
  .square.blue h2 {
    color: var(--blue);
  }

  .square.green p,
  .square.blue p {
    font-size: 16px;
  }

  .square.green p {
    color: var(--darkcyan);
  }
  .square.blue p {
    color: var(--verydarkgrayblue);
  }  

  @media(min-width: 750px) {
    .row {
      flex-direction: row;
    }
    .square { width: 50%; }
    .square#transform {
      order: 1;
    }
    .square.yellow {
      order: 2;
      background-image: url(./images/desktop/image-transform.jpg);
    }
    .square.pink {
      background-image: url(./images/desktop/image-stand-out.jpg);
    }    
    .square.green {
      min-height: 0;
      background-image: url(./images/desktop/image-graphic-design.jpg);      
    }    
    .square.blue {
      min-height: 0;
      background-image: url(./images/desktop/image-photography.jpg);
    }  

  }


  /* END SQUARE SECTION */


  /* TESTIMONIALS */

  section.testimonials {
    padding: 80px 20px;
  }

  section.testimonials .row {
    justify-content: center;
  }

  .testimonials h2 {
    color: var(--darkgrayblue);
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 80px;
    text-transform: uppercase;
  }

  .testimonials .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 300px 0 1;
    margin: 0 20px;
  }

  .testimonial-text {
    text-align: center;
  }

  .testimonial-photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;   
    margin-bottom: 40px; 
  }

  .testimonial-author span {
    display: block;
    text-align: center;
  }

  .testimonial-author .name {
    font-weight: bold;
  }